<form>
  <div class="container">
    <div class="form">
      <label for="exampleInputEmail1" class="form-label"></label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu E-mail">
    </div>
    <div class="form">
      <label for="exampleInputPassword1" class="form-label"></label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha">
    </div>
    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
    
    <div class="botao">
      <div class="entrar">
        <a href="#"><img src="/assets/seta.png" alt=""></a>
      </div>
      
      <div class="renovarSenha">
        <a href="">Esqueci minha <br> senha</a>
      </div>
    </div>

    <div>
      <a href="/cadastro">Cadastro</a>
    </div>

  </div>
</form>
